{% load static %}
<footer id="footer-section" class="footer-section footer-section2 clearfix">

    <!-- footer-top - start -->
    <div class="footer-top sec-ptb-100 clearfix">
        <div class="container">
            <div class="row">

                <!-- {% url 'about-wrapper - start -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="{% url 'about-wrapper">

                        <!-- site-logo-wrapper - start -->
                        <div class="site-logo-wrapper mb-30">
                            <a href="{% url 'index' %}" class="logo">
                                <img src="{% static 'assets/images/1.site-logo.png' %}" alt="logo_not_found">
                            </a>
                        </div>
                        <!-- site-logo-wrapper - end -->

                        <p class="mb-30">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
                        </p>

                        <!-- basic-info - start -->
                        <div class="basic-info ul-li-block mb-50">
                            <ul>
                                <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    100 highland ave, california, united state
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    <a href="#!">contact@pantero.com</a>
                                </li>
                                <li>
                                    <i class="fas fa-phone"></i>
                                    <a href="#!">100 800 1234 5555</a>
                                </li>
                            </ul>
                        </div>
                        <!-- basic-info - end -->

                        <!-- social-links - start -->
                        <div class="social-links ul-li">
                            <h3 class="social-title">network</h3>
                            <ul>
                                <li style="margin-right:15px ;font-size: 1.5rem;">
                                    <a href="https://youtu.be/gxSMay-dH9I" target="_blank"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li style="margin-right:15px ;font-size: 1.5rem;">
                                    <a href="https://g.page/gowjee/review?mt" target="_blank"><i class="fab fa-google"></i></a>
                                </li>
                                <li style="margin-right:15px ;font-size: 1.5rem;" target="_blank">
                                    <a href="https://instagram.com/gowjee_events?igshid=qft36q5b4bf0"><i class="fab fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- social-links - end -->
                        
                    </div>
                </div>
                <!-- {% url 'about-wrapper - end -->

                <!-- usefullinks-wrapper - start -->
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="usefullinks-wrapper ul-li-block">
                        <h3 class="footer-item-title">
                            useful <strong>links</strong>
                        </h3>
                        <ul>
                            <li><a href="{% url 'about' %}">about Us</a></li>
                            <li><a href="{% url 'index' %}">services</a></li>
                            <li><a href="{% url 'contact' %}">Contact us</a></li>
                            <li><a href="{% url 'gallery' %}">gallery</a></li>
                        </ul>
                        
                    </div>
                </div>
                <!-- usefullinks-wrapper - end -->

                <!-- instagram-wrapper - start -->
                <!-- instagram-wrapper - end -->

            </div>
        </div>
    </div>
    <!-- footer-top - end -->

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <!-- copyright-text - start -->
                <div class="col-lg-12 col-md-12 col-sm-12">							
                    <div class="copyright-text">
                        <p class="m-0">©2021 <a href="#!" class="yellow-color">Event Management.com</a> all right reserved, made by <a href="http://dragndroptechsolutions.com/">Drag n Drop Tech Solutions.</a> </p>
                    </div>
                </div>
                <!-- copyright-text - end -->

                <!-- footer-menu - start -->
                <!-- footer-menu - end -->

            </div>
        </div>
    </div>

</footer>