{% load static %}
<!DOCTYPE html>
<html lang="en">
	{% include 'partials/_homeHead.html' %}



	<body class="default-header-p">
		<!-- backtotop - start -->
		<div id="thetop" class="thetop"></div>
		<div class='backtotop'>
			<a href="#thetop" class='scroll'>
				<i class="fas fa-angle-double-up"></i>
			</a>
		</div>
		<!-- backtotop - end -->

		<!-- preloader - start -->
		<div id="preloader"></div>
		<!-- preloader - end -->




		<!-- header-section - start
		================================================== -->
		{% include 'partials/_websiteNavbar.html' %}
		<!-- header-section - end
		================================================== -->





		<!-- altranative-header - start
		================================================== -->
		<div class="header-altranative">
			<div class="container">
				<div class="logo-area float-left">
					<a href="{% url 'index' %}">
						<img src="{% static 'assets/images/1.site-logo.png'  %}"alt="logo_not_found">
					</a>
				</div>

				<button type="button" id="sidebarCollapse" class="alt-menu-btn float-right">
					<i class="fas fa-bars"></i>
				</button>
			</div>

			<!-- sidebar menu - start -->
			<div class="sidebar-menu-wrapper">
				<div id="sidebar" class="sidebar">
					<span id="sidebar-dismiss" class="sidebar-dismiss">
						<i class="fas fa-arrow-left"></i>
					</span>

					<div class="sidebar-header">
						<a href="#!">
							<img src="{% static 'assets/images/2.site-logo.png'  %}"alt="logo_not_found">
						</a>
					</div>

					<!-- main-pages-links - start -->
					<div class="menu-link-list main-pages-links">
						<ul>
							<li class="active">
								<a href="{% url 'index' %}">
									<span class="icon"><i class="fas fa-home"></i></span>
									Home</a>
							</li>
							<li>
								<a href="{% url 'about' %}">
									<span class="icon"><i class="fas fa-home"></i></span>
									{% url 'about Us
								</a>
							</li>
							<li class="menu-item-has-children">
								<a href="#!">Services</a>
								<ul class="sub-menu">
									{% for service in services %}
									<li class="menu-item-has-children">
										<a href="{% url 'service' id=service.id %}">{{service.title}}</a>
									</li>
									{% endfor %}
								</ul>
							</li>
							<li>
								<a href="{% url 'gallery' %}">
									<span class="icon"><i class="fas fa-home"></i></span>
									{% url 'gallery
								</a>
							</li>
							<li>
								<a href="{% url 'contact' %}">
									<span class="icon"><i class="fas fa-home"></i></span>
									Contact Us
								</a>
							</li>
						</ul>
					</div>
					<!-- main-pages-links - end -->

					<!-- login-btn-group - end -->

					<div class="overlay"></div>
				</div>
			</div>
			<!-- sidebar menu - end -->
		</div>
		<!-- altranative-header - end
		================================================== -->





		<!-- breadcrumb-section - start
		================================================== -->
		<section id="breadcrumb-section" class="breadcrumb-section clearfix">
			<div class="jarallax" style="background-image: url({% static 'assets/images/breadcrumb/0.breadcrumb-bg.jpg' %});">
				<div class="overlay-black">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-12 col-sm-12">

								<!-- breadcrumb-title - start -->
								<div class="breadcrumb-title text-center mb-50">
									<span class="sub-title">Services</span>
									<h2 class="big-title"><strong>{{service.title}}</strong></h2>
								</div>
								<!-- breadcrumb-title - end -->

								<!-- breadcrumb-list - start -->
								<div class="breadcrumb-list">
									<ul>
										<li class="breadcrumb-item"><a href="{% url 'index' %}" class="breadcrumb-link">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">services</li>
									</ul>
								</div>
								<!-- breadcrumb-list - end -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb-section - end
		================================================== -->





		<!-- service-section - start
		================================================== -->
		<section id="service-section" class="service-section sec-ptb-100 clearfix">
			<div class="container">

				<!-- service-wrapper - start -->
				<div class="service-wrapper">

					<!-- service-item - start -->
					<div class="service-item clearfix">
						<div class="service-image float-left">
							<div class="big-image">
								<img src="{{service.image.url}}"alt="Image_not_found" style="width:100%">
							</div>
						</div>
						<div class="service-content float-right">
							<div class="service-title mb-30">
								<h2 class="title-text"><strong>{{service.title}}</strong></h2>
							</div>
							<p class="service-description black-color mb-30">
								{{ service.description }}
							</p>
							<div class="text-left">
								<a href="{% url 'contact'%}" class="custom-btn">Get Quote</a>
							</div>
						</div>
					</div>
					<!-- service-item - end -->

					<!-- service-item - start -->
					{% for feature in features %}
					<div class="service-item clearfix">
						<div class="service-image float-right">
							<div class="big-image">
								<img src="{{feature.image1.url}}" style="width:100%" alt="Image_not_found">
							</div>
							<div class="small-image">
								<img src="{{feature.image2.url}}" style="width:100%" alt="Image_not_found">
							</div>
						</div>
						<div class="service-content float-left">
							<div class="service-title mb-30">
								<h2 class="title-text"><strong>{{feature.title}}</strong></h2>
							</div>
							<p class="service-description black-color mb-30">
								{{feature.description}}
							</p>
							<div class="text-left">
								<a href="{% url 'contact' %}" class="custom-btn">get quote</a>
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- service-item - end -->

				</div>
				<!-- service-wrapper - end -->

			</div>
		</section>
		{% include 'partials/_footer.html' %}
		{% include 'partials/_homeScripts.html' %}
	</body>
</html>